<section class="gallery-section">
  <div class="container gallery__container">
    <ul class="gallery"></ul>
    <div class="gallery__pagination">
      <button class="pagination-btns__btn btn-pag-previ">
        <svg
          class="svg"
          width="16"
          height="16"
          viewBox="0 0 16 16"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M12.6666 8H3.33325"
            stroke="black"
            stroke-width="1.33333"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
          <path
            d="M7.99992 12.6667L3.33325 8.00004L7.99992 3.33337"
            stroke="black"
            stroke-width="1.33333"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </button>
      <button class="pagination-btns__btn first-btn btn-pag--current">1</button>
      <button class="pagination-btns__btn dots" disabled="true">...</button>
      <ul class="pagination-btns"></ul>
      <button class="pagination-btns__btn dots" disabled="true">...</button>
      <button class="pagination-btns__btn last-btn">20</button>
      <button class="pagination-btns__btn btn-pag-next">
        <svg
          class="svg svg-next"
          width="16"
          height="16"
          viewBox="0 0 16 16"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M12.6666 8H3.33325"
            stroke="black"
            stroke-width="1.33333"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
          <path
            d="M7.99992 12.6667L3.33325 8.00004L7.99992 3.33337"
            stroke="black"
            stroke-width="1.33333"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </button>
    </div>
  </div>
</section>
